SERVER_PORT=8084
DB_HOST=tele-postgres
DB_PORT=5432
DB_NAME=medisync_tele
DB_USERNAME=tele_user
DB_PASSWORD=tele_pass
EUREKA_URL=http://eureka-server:8761/eureka
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
AGORA_APP_ID=your_agora_app_id_here
AGORA_APP_CERTIFICATE=your_agora_app_certificate_here
JWT_SECRET=same_jwt_secret_as_all_other_services_min_32_chars
SERVICE_SECRET=internal_service_secret_key